.*
esp32fs.zip
.gitignore
.gitignore
aviPlayer/AviPlayer/tools/esp32fs.jar
aviPlayer/AviPlayer/data/avi/znse_demo_15s_l.avi
aviPlayer/AviPlayer/data/avi/znse_demo_15s_p.avi
aviPlayer/AviPlayer/data/avi/output_esp32.avi
