.*
esp32fs.zip
.gitignore
.gitignore
aviPlayer/AviPlayer/tools/esp32fs.jar
aviPlayer/AviPlayer/data/avi/znse_demo_15s_l.avi
aviPlayer/AviPlayer/data/avi/znse_demo_15s_p.avi
aviPlayer/AviPlayer/data/avi/output_esp32.avi
aviPlayer/AviPlayer/backup_videos
aviPlayer/AviPlayer/data/avi/output_topgun_dark.avi
aviPlayer/AviPlayer/output_3.avi
aviPlayer/AviCinepak/top_gun.mp4
aviPlayer/AviCinepak/data/avi/output_topgun_cinepak_dark.avi
aviPlayer/AviPlayer/data/avi/freedom_3.avi
